<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="mobile-menu" mode="over" [opened]="false">
  <mat-nav-list>
    <ng-container [ngSwitch]="role()">
      <ng-container *ngSwitchCase="'driver'">
        <a mat-list-item routerLink="/dashboard">Dashboard</a>
        <a mat-list-item routerLink="/support">Suporte</a>
      </ng-container>

      <ng-container *ngSwitchCase="'operator'">
        <a mat-list-item routerLink="/drivers">Motoristas</a>
        <a mat-list-item routerLink="/trucks">Caminhões</a>
        <a mat-list-item routerLink="/deliveries">Entregas</a>
        <a mat-list-item routerLink="/monitor">Monitor</a>
      </ng-container>
    </ng-container>
  </mat-nav-list>
</mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="mobile-toggle">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="app-title">Plataforma de Cargas</span>
      <span class="spacer"></span>

      <div class="desktop-menu" [ngSwitch]="role()">
        <ng-container *ngSwitchCase="'driver'">
          <a mat-button routerLink="/dashboard">Dashboard</a>
          <a mat-button routerLink="/support">Suporte</a>
        </ng-container>

        <ng-container *ngSwitchCase="'operator'">
          <a mat-button routerLink="/drivers">Motoristas</a>
          <a mat-button routerLink="/trucks">Caminhões</a>
          <a mat-button routerLink="/deliveries">Entregas</a>
          <a mat-button routerLink="/monitor">Monitor</a>
        </ng-container>
      </div>

      <button mat-icon-button (click)="logout()" *ngIf="loggedIn()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
